

<div id="table">
        <span class="list">1. <a href="#"><img src ="grayarrow.gif"></a></span>
        <span class="title"><a href="#" class="black"><%= @articles[0][1]%></a></span>
        <span class="link">(<%=@articles[0][0]%>)</span><br>
        <span class="comment"><%= @articles[0][2] %><a href="#" class="gray">rnyman</a> 1 hour ago | <a href="comments.html" class="gray">2 comments</a></span><br>

      </div>
      <div id="separator"></div>





