<form action="/submit" method=post>
      <label for="url">URL:</label>
      <input type="url"text id="url" name= "article_url"/>
      <label for="Title">Title:</label>
      <input type="text"text id="Title"name="article_title"/>
      <label for="description">Description:</label>
      <input type="text"text id="description"name="article_description"/>
    <input type= "submit" />
    </form>
